html, body{
	width: 100%;
	height: 100%;
}
body{
	background: rgb(0, 80, 188);
 	overflow-x: hidden;
 	overflow-y: hidden;
}
.container{
	width: 100%;
    height: 100%;
    position: relative;
}
.container > div .content{
 	background: rgb(11, 99, 207);
 	height: 100%;
 	overflow: hidden;
}

.container > div:not(.block) .main{
	background: url('../svg/img.svg') no-repeat center center;
  	width: 25%;
  	height: 25%;
  	position: relative;
  	top: 37.5%;
  	margin: 0 auto;
}
.container .active .closse {
	width: 30px;
	height: 30px;
	background: url('../svg/closse.svg') center;
	position: absolute;
	right: 2%;
	top: 2%;
	cursor: pointer;

}
.transition{
	-webkit-transition: all 400ms ease-in-out;
	-moz-transition: all 400ms ease-in-out;
	-o-transition: all 400ms ease-in-out;
	transition: all 400ms ease-in-out;
}
.container .blocks{
    width: 24% !important;
    height: 22% !important;
}
.leftblocks{
	left: 74% !important;
}
.rightblocks{
	left: 2% !important;
}
.container .active{
	top: 2%;
	width: 70%;
	height: 96%;	
}
.container .rightactive{
	left: 28%;
}
.container .leftactive{
	left: 2%;
}
.blocks.all:nth-child(2){
	top: 2%; 
}
.blocks.all:nth-child(3){
	top: 26.5%;
}
.blocks.all:nth-child(4){
	top: 51.5%;
}
.blocks.all:nth-child(5){
	top: 76%;
}
@media screen and (min-width: 801px){
		.container > div{
		float: left;
		height: calc(100%/2 - 3%);
		overflow: hidden;
		position: absolute;
	}
	 .first-ln:not(.active){
	 	width: 47%;
	}
	 .one-bl:not(.active){
		left: 2%;
	}
	 .first-ln:not(.active){
		top: 2%;
	}
	 .two-bl:not(.active){
 	 	left: 51%;
	}
	 .sec-ln:not(.active){
		width: calc(92%/3);
		top: 51%;
	}
	 .thre-bl:not(.active){
		left: 2%;
	}
	 .four-bl:not(.active){
		left: calc(92%/3 + 4%);
	}
	 .five-bl:not(.active){
		left: calc(92%/3*2 + 6%);
	}
}
@media screen and (max-width: 800px){
	.container{
		height: 100%;
	}		
 	.container > div{
 		width: 96%;
 		height: 17.6%;
 		position: relative;
 		margin: 2% auto 0 auto;
 	}
 	.container > div:last-child{
 		margin: 2% auto 0 auto;
 	}