html, body{
	width: 100%;
	height: 100%;
}
body{
	background: rgb(0, 80, 188);
 	overflow-x: hidden;
 	overflow-y: hidden;
}
::-webkit-scrollbar {
    width: 12px;
}
::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3); 
    border-radius: 10px;
}
 
::-webkit-scrollbar-thumb {
    border-radius: 10px;
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.5); 
}
.container{
	width: 100%;
    height: 100%;
    position: relative;
}
.container > div .content{
 	background: rgb(11, 99, 207);
 	height: 100%;
 	overflow: hidden;
}
.container > div .main{
	background: url('../svg/img.svg') no-repeat center center;
  	width: 25%;
  	height: 25%;
  	position: relative;
  	top: 37.5%;
  	margin: 0 auto;
}
.container > div.active .main,
.container > div.blocks .main{
	display: none;
}
.container .active .closse {
	width: 20px;
	height: 20px;
	background: url('../svg/closse.svg') center;
	position: absolute;
	right: 1.5%;
	top: 2%;
	cursor: pointer;
}
.container > div .co-text{
	display: none;
}    
.container > div.active .co-text{
 	position: absolute;
    width: 98%;
    height: 92%;
    background: transparent;
    top: 8%;
    overflow: auto;
    display: block;
}
.container > div .co-text .lg{
 	border: 2px solid #327AD6;
    border-radius: 5%;
    padding: 3%;
    width: 19%
}
.container > div .co-text .rows{
 	width: 70%;
 	height: 100%;
 	background: transparent;
 	position: relative;
}
.container > div .co-text .rows .header-row{
 	width: 45%;
 	height: 25%;
 	background: #327AD6;
 	border-radius: 5%;
 	position: absolute;
 }
.container > div .co-text .rows .one-row{
 	width: 73%;
 	height: 15%;
 	background: #327AD6;
 	border-radius: 5%;
 	position: absolute;
 	top: 35%;
}
.container > div .co-text .rows .one-right{
	right: 0;
}
.container > div .co-text .rows .two-row{
 	width: 25%;
 	height: 15%;
 	background: #327AD6;
 	border-radius: 5%;
 	position: absolute;
 	top: 35%;
 	left: 75%;
}
.container > div .co-text .rows .thre-row{
 	width: 70%;
 	height: 15%;
 	background: #327AD6;
 	border-radius: 5%;
 	position: absolute;
 	top: 55%;
 	left: 30%;
}
.container > div .co-text .rows .fore-row{
 	width: 25%;
 	height: 15%;
 	background: #327AD6;
 	border-radius: 5%;
 	position: absolute;
 	top: 55%;
}
.container > div .co-text .rows .five-row{
 	width: 100%;
 	height: 15%;
 	background: #327AD6;
 	border-radius: 5%;
 	position: absolute;
 	top: 80%;
}
.container > div .co-text .lg img{
 	width: 100%;
 	height: 50%;
}
.container > div .co-text .left-lg{
	margin: 0 3.7% 0 0;
 	float: left;
}
.container > div .co-text .right-lg{
	margin: 0  0 0 3.7%;
 	float: right;
}

.container > div .co-text .sm-bl{
 	background: transparent;
    padding: 4% 4% 0 4%;
    overflow: hidden;
    width: 100%;
    height: 31%;
}
.container > div .co-text .sm-bl .all-blocks{
 	width: 50%;
 	height: 30%;
 	background: green;
 	left: 32%;
}
.container > div .co-text .sm-bl:last-child{
	margin-bottom: 4%;
}
.transition{
	-webkit-transition: all 400ms ease-in-out;
	-moz-transition: all 400ms ease-in-out;
	-o-transition: all 400ms ease-in-out;
	transition: all 400ms ease-in-out;
}
.container .blocks{
    width: 24% !important;
    height: 22% !important;
}
.leftblocks{
	left: 74% !important;
}
.rightblocks{
	left: 2% !important;
}
.container .active{
	top: 2%;
	height: 96%;	
}
.blocks.all:nth-child(2){
	top: 2%; 
}
.blocks.all:nth-child(3){
	top: 26.5%;
}
.blocks.all:nth-child(4){
	top: 51.5%;
}
.blocks.all:nth-child(5){
	top: 76%;
}
@media screen and (min-width: 801px){
	.container .rightactive{
		left: 28%;
	}	
	.container .leftactive{
		left: 2%;
	}	
	.container .active{
		width: 70%;
	}	
	.container > div{
		float: left;
		height: calc(100%/2 - 3%);
		overflow: hidden;
		position: absolute;
	}
	 .first-ln:not(.active){
	 	width: 47%;
	}
	 .one-bl:not(.active){
		left: 2%;
	}
	 .first-ln:not(.active){
		top: 2%;
	}
	 .two-bl:not(.active){
 	 	left: 51%;
	}
	 .sec-ln:not(.active){
		width: calc(92%/3);
		top: 51%;
	}
	 .thre-bl:not(.active){
		left: 2%;
	}
	 .four-bl:not(.active){
		left: calc(92%/3 + 4%);
	}
	 .five-bl:not(.active){
		left: calc(92%/3*2 + 6%);
	}
}
@media screen and (max-width: 800px){
	.container .active{
		width: 96%;
		margin: 0 auto;
	}
	.container > div .co-text .lg{
		width: 100%;
	    height: 40%;
	    border-radius: 0px;
	    border: 0px;
	}	
	.container > div .co-text .lg img{
		width: 50%;
	    height: 100%;
	}
	.container{
		height: 100%;
	}		
 	.container > div{
 		width: 96%;
 		height: 17.6%;
 		position: relative;
 		margin: 2% auto 0 auto;
 	}
 	.container > div:last-child{
 		margin: 2% auto 0 auto;
 	}